@import "vars";
.footer {
    background-color: #f5f5f5;
    padding: 50px 0 17px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        display: block;
        width: 244px;
        img {
            width: 100%;
            display: block;
        }
    }
    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;
        &-item {
            &:not(:last-child) {
                margin-right: 29px;
            }
        }
    }
    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 45px;
    }
    &__link {
        margin: 0 20px;
        &:hover {
            color: #5094c5;
            text-decoration: underline !important;
        }
    }
    &__by {
        max-width: 320px;
        display: flex;
        font-size: 14px;
        line-height: 1.2;
        color: #6a6a6a;
        padding-top: 7px;
        a {
            text-decoration: underline;
            color: #227cbd;
        }
        img {
            width: 41px;
            flex-shrink: 0;
            margin-right: 24px;
            margin-top: -7px;
        }
    }
    &__licensy {
        text-align: center;
        margin-top: 62px;
        font-size: 12px;
        line-height: 1.2;
        color: $grey;
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        &__logo {
            width: 200px;
        }
        &__links {
            margin-top: 25px;
        }
        &__link {
            margin: 0 10px;
        }
    }
}

@media screen and (max-width: 1070px) {
    .footer {
        &__logo {
            width: 160px;
        }
        &__by {
            max-width: 290px;
            img {
                margin-right: 5px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__socials {
            margin-top: 25px;
        }
        &__by {
            margin-top: 25px;
            max-width: 310px;
            img {
                margin-right: 15px;
            }
        }
        &__licensy {
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: 576px) {
    .footer {
        &__socials {
            &-item {
                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
        }
        &__links {
            display: block;
        }
        &__link {
            display: block;
            margin-bottom: 25px;
            font-size: 20px;
            text-align: center;
        }
    }
}