<div class="modal fade" id="orderModal" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
            <img src="img/close.png" alt="">
        </button>

        <div class="modal__title display2">
            <span>Оставьте заявку на подключение</span>
        </div>
        <div class="modal__desc">и наши менеджеры свяжутся с Вами в течении 30 минут!</div>

        <form action="" class="modal__form">
            <fieldset class='form-group'>
                <img src="img/user.webp" alt="">
                <input type='text' placeholder="Ваше имя" />
            </fieldset>
            <fieldset class='form-group'>
                <img src="img/phone2.webp" alt="">
                <input type='text' placeholder="Ваш номер телефона" />
            </fieldset>
            <fieldset class='form-group'>
                <img src="img/marker.webp" alt="">
                <input type='text' placeholder="Местоположение дома/кадастровый номер" />
            </fieldset>
            <button class="modal__btn btn btn-red">
                Отправить заявку
            </button>
            <div class="modal__check check">
                <input type='checkbox' />
                <label>
                    Нажимая кнопку, Вы даёте согласие на обработку
                    <a href="">персональных данных</a>
                </label>
            </div>

        </form>
    </div>
</div>



<!-- <div class="modal-backdrop show"></div> -->