<header class='header @@if(nav==="true"){header--pb47}'>
    <div class='container'>
        <div class='header__inner'>
            <a href="" class="header__logo">
                <img src="img/logo.png" alt="">
            </a>
            <div class="header__mob">
                @@if(nav==="true"){
                <nav class="nav">
                    <div class="container">
                        <div class="nav__wrap">
                            <a href="" class="nav__link">На главную</a>
                            <a href="" class="nav__link">Тарифы</a>
                            <a href="" class="nav__link">Новости</a>
                            <a href="" class="nav__link">Контакты</a>
                        </div>
                    </div>
                </nav>}
                <a href="mailto:info@mail.ru" class="header__email">
                    <img src="img/email.png" alt="">
                    <span>info@mail.ru</span>
                </a>
                <a href="tel:+74872000000" class="header__phone">
                    <img src="img/phone.png" alt="">
                    <span>+7 4872-00-00-00</span>
                </a>
                <div class="header__socials">
                    <a href="" class="header__socials-item">
                        <img src="img/telegram.png" alt="">
                    </a>
                    <a href="" class="header__socials-item">
                        <img src="img/youtube.png" alt="">
                    </a>
                    <a href="" class="header__socials-item">
                        <img src="img/whatsapp.png" alt="">
                    </a>
                </div>
                <button class="header__btn btn btn-red" data-bs-toggle="modal" data-bs-target="#orderModal">Оставить заявку на подключение</button>
            </div>
            <button class="header__burger">
                <span></span>
            </button>
        </div>
    </div>
</header>