<div class="tarifs__subtitle display1">@@title</div>
<div class="tarifs__desc">
    <p>Стоимость подключения к сети интернет в первую очередь зависит от удаленности Вашего дома от нашей оптической линии.</p>
    <p>Все будет зависеть от количества материалов, которые придется потратить, в том числе внутри вашего дома, при подключении. Подайте заявку на подключение на нашем сайте или по телефонам, указанным на сайте и мы Вам обязательно перезвоним!
    </p>
</div>
<div class="tarifs__bottom">
    <div class="tarifs__bottom-left">
        <div class="tarifs__price">
            <img src="img/progress.webp" alt="">
            <div class="tarifs__price-title">
                СТоимость
                <span>1000 руб</span>
            </div>
        </div>
    </div>
    <div class="tarifs__bottom-right">
        <div class="tarifs__items">
            <div class="tarifs__item">
                <span class="tarifs__item-icon">
                        <img src="img/tarif_icon.webp" alt="">
                    </span>
                <div class="tarifs__item-title">
                    Телевидение - <span>150</span> ТВ каналлов
                </div>
            </div>
            <div class="tarifs__item">
                <span class="tarifs__item-icon">
                        <img src="img/tarif_icon2.webp" alt="">
                    </span>
                <div class="tarifs__item-title">
                    Скорость интернета <span>100</span> МБ/с
                </div>
            </div>
            <div class="tarifs__item">
                <span class="tarifs__item-icon">
                        <img src="img/tarif_icon3.webp" alt="">
                    </span>
                <div class="tarifs__item-title">
                    ТВ приставка в аренду
                </div>
            </div>
        </div>
        <a href="" class="tarifs__btn btn btn-red">Подробнее</a>
    </div>
</div>